<div class="container">

    <h1 class="text-center">Shop Management</h1>
    <h5 class="text-center">A venture by Foot Print Solution</h5>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <!-- <a class="navbar-brand" href="#">Hidden brand</a> -->
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>

            </ul>
        </div>
    </nav>
    <main>
        <form class="disabled">
            <h5 class="alert-heading text-center p-2 font-weight-bold"> Customer Form</h5>
            <div class="p-2 font-weight-bold">Personal Information</div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group row">
                        <label for="userFirstName" class="col-3 col-form-label">First Name</label>
                        <input type="text" class="form-control col-9" id="userFirstName" placeholder="First Name">
                    </div>
                    <div class="form-group row">
                        <label for="userMiddleName" class="col-3 col-form-label">Middle Name</label>
                        <input type="text" class="form-control col-9" id="userMiddleName" placeholder="Last Name">
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="col-3 col-form-label">Email address</label>
                        <input type="email" class="form-control col-9" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group row">
                        <label for="sexSelect" class="col-3 col-form-label">Sex</label>
                        <select class="form-control col-9" id="sexSelect">
									<option>Male</option>
									<option>Famale</option>
								</select>
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group row">
                        <label for="userLastName" class="col-3 col-form-label">Last Name</label>
                        <input type="text" class="form-control col-9" id="userLastName" placeholder="Enter Last Name">
                    </div>
                    <div class="form-group row">
                        <label for="userLastName" class="col-4 col-form-label">Contact Number</label>
                        <input type="text" class="form-control col-8" id="userLastName" placeholder="Enter Last Name">
                    </div>
                    <div class="form-group row">
                        <label for="userAge" class="col-3 col-form-label">Age</label>
                        <input type="text" class="form-control col-9" id="userAge" placeholder="Age">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary left float-right">Submit</button>
        </form>
    </main>

</div>